{{ define "main"}}


    <div id="hero">
      <br>
      <br>
        <img class="floating" id="svg-1" src="/img/leaf-yellow.svg"></img>
        <img id="svg-2" src="/img/dots-group-cyan.svg"></img>
        <img id="svg-3" class="floating-90deg"  src="/img/leaf-orange.svg"></img>
      <p>{{.Site.Params.description}}</p>
      <h1>{{.Title}}</h1>
      

      <form action="https://formspree.io/galtashma@gmail.com" method="POST">

        <button class="button outline" role="button">
          {{.Params.ActionText}}
             <!--קבל הצעת מחיר חינם-->
        </button>
        <input type="email" name="email" placeholder="אימייל" required>
       
        
    </form>
      
  </div>
  
<div id="main">

  <div id="kube-features">
    
        {{ $headless := .Site.GetPage "/features" }}
        {{ $reusablePages := $headless.Resources }}
        {{ range $index, $elm := $reusablePages }}

          {{ if (modBool $index 3) }}
            {{ if (gt $index  0) }}
              </div>
            {{ end }}
          <div class="row gutters">
        
          {{ end }}

          <!-- Allow Right to Left text with rtl: true attribue -->
          {{ $text_dir := "ltr" }}
          {{ if .Params.Rtl }}
            {{ $text_dir = "rtl" }}
          {{ end }}

          <div class="col col-4 item" dir="{{$text_dir}}">
            <figure>
              <img alt="Baseline" height="48" src="{{.Params.Icon}}" width="48">
            </figure>
            <h3>{{.Title}}</h3>
            {{.Content}}
          </div>

        {{ end }}
    </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
